{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block header %}
    {% include 'nav.html' %}
{% endblock %}

{% block main %}
    <style>
        .title {
           overflow: hidden;
           text-overflow: ellipsis;
           display: -webkit-box;
           -webkit-line-clamp: 3; /* number of lines to show */
                   line-clamp: 3;
           -webkit-box-orient: vertical;
        }
        .text {
           overflow: hidden;
           text-overflow: ellipsis;
           display: -webkit-box;
           -webkit-line-clamp: 5; /* number of lines to show */
                   line-clamp: 5;
           -webkit-box-orient: vertical;
        }
    </style>
    <div class="title d-flex">
        <h1 class="d-block">{{ title }}</h1>
        <span class="badge bg-secondary align-self-start mx-2">{{ title_badge }}</span>
    </div>
    <div class="subs d-flex mx-4">
        {% for sub in subs %}
            <a class="btn btn-dark mx-2" href="{% url 'category' sub.pk %}">{{ sub.name }}</a>
        {% endfor %}
    </div>
    <div class="cards d-flex flex-wrap my-3 justify-content-center">
        {% for coupon in coupons %}
            <div class="card m-2" style="width: 18rem;">
                <img src="{{ coupon.photo.url }}" class="card-img-top" alt="...">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title title">{{ coupon.name }}</h5>
                    <p class="card-text text">{{ coupon.description }}</p>
                    <a href="{% url 'coupon' coupon.pk %}" class="ml-auto mt-auto btn btn-dark">Купить</a>
                </div>
            </div>
        {% empty %}
            В этой категории нет купонов
        {% endfor %}
    </div>
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}