{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block header %}
    {% include 'nav.html' %}
{% endblock %}

{% block main %}
    <div class="title">
        <div class="d-flex">
            <h1 class="d-block">{{ coupon.name }}</h1>
            <span class="badge bg-warning align-self-start mx-2">NEW</span>
        </div>
        <div class="subtitle">
            <h2 class="h6">{{ coupon.info }}</h2>
        </div>
    </div>
    <div class="container p-0">
        <div class="row">
            <div class="col1 col-8">
                <img src="{{ coupon.photo.url }}" class="img-fluid" alt="{{ coupon.name }}">
                <ul class="nav nav-tabs mt-4" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link active text-body" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Условия</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link text-body" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Описания</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link text-body" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Адреса</button>
                    </li>
                  </ul>
                  <div class="tab-content mt-2" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">{{ coupon.description }}</div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">{{ coupon.condition }}</div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">{{ coupon.address }}</div>
                  </div>
            </div>
            <div class="col2 col-4">
                <div class="">
                    <div class="d-flex flex-row align-items-center mb-1">
                      <h4 class="mb-1 me-1">{{ coupon.price }}₽</h4>
                      <span class="text-danger"><s>{{ coupon.old_price }}₽</s></span>
                    </div>
                    <h6 class="text-success">Экономия {{ sub }}₽</h6>
                    <div class="d-flex flex-column mt-4">
                        {% if request.user.is_authenticated %}
                            <button class="btn btn-outline-dark btn-sm mt-2" type="button">
                                В корзину
                          </button>
                        {% else %}
                             <div class="alert alert-danger" role="alert">
                                Что бы продолжить покупки на сайте, пожалуйста, войдите в учётную запись
                            </div>
                        {% endif %}
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}