<style>
    .chumb {
      display: block;
      max-width: 150px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
</style>
<div class="d-flex flex-row-reverse">
    <div class="mx-5">
        <a class="text-body" href="tel:+74951234567">+7 (495) 123-45-67</a>
    </div>
    <div>
        <a class="text-body"
            href="https://www.google.com/maps/place/Coles/@-33.8297104,151.2185226,18z/data=!3m1!5s0x6b12aebd85b18e2b:0xca3e271b0395e16!4m5!3m4!1s0x6b12aebd88d4b77f:0x8a815601c50c8a76!8m2!3d-33.829441!4d151.2183538?hl=ru-RU">Москва</a>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded mb-2">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">Stallion</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% for foo in navmenu %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'category' foo.pk %}">{{ foo.name }}</a>
                    </li>
                {% endfor %}
                {% if request.user.is_authenticated %}
                   <li class="nav-item">
                        <a class="nav-link" href="{% url 'cart' %}">Корзина</a>
                    </li>
                {% endif %}
            </ul>
            <div class="mx-2 my-2 mr-0 d-flex align-items-center">
                {% if request.user.is_authenticated %}
                    <div class="text-white mx-2">
                        {{ user.username }} | {{ user.email }}
                    </div>
                    <a href="{% url 'logout' %}" class="btn btn-secondary">Выйти</a>
                {% else %}
                    <a href="{% url 'sign-in' %}" class="btn btn-secondary">Войти</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
 <div class="mx-5 d-flex align-items-center justify-content-between">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="text-body" href="{% url 'index' %}">Главная</a></li>
        {% if chumps is not None %}
            {% for chump in chumps %}
                <li class="breadcrumb-item chumb"><a class="text-body" href="{{ chump.1 }}">{{ chump.0 }}</a></li>
            {% endfor %}
        {% endif %}
    </ol>
     <form class="d-flex" method="get" action="{% url 'search' %}">
        <input class="form-control me-2" type="search" placeholder="Например: Аквапарк"
            aria-label="search" name="search_string">
        <button class="btn btn-outline-dark" type="submit">Поиск</button>
    </form>
</div>