<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="https://thumbs.dreamstime.com/b/light-cross-green-black-background-40420249.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Зарегистрироваться</title>
</head>

<body class="min-vh-100 d-flex flex-column">

    <header class="container">
        <div class="d-flex flex-row-reverse">
            <div class="mx-5">
                <a class="text-body" href="tel:+74951234567">+7 (495) 123-45-67</a>
            </div>
            <div>
                <a class="text-body"
                    href="https://www.google.com/maps/place/Coles/@-33.8297104,151.2185226,18z/data=!3m1!5s0x6b12aebd85b18e2b:0xca3e271b0395e16!4m5!3m4!1s0x6b12aebd88d4b77f:0x8a815601c50c8a76!8m2!3d-33.829441!4d151.2183538?hl=ru-RU">Москва</a>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Stallion</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Услуги</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Товары по купонам</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Кэшбэк</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Корзина</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Например: Аквапарк"
                            aria-label="search">
                        <button class="btn btn-outline-light" type="submit">Поиск</button>
                    </form>
                </div>
            </div>
        </nav>
        <div class="mx-5">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-body" href="#">Главная</a></li>
                <li class="breadcrumb-item active" aria-current="page">Библиотека</li>
            </ol>
        </div>
    </header>
    <main class="container">
        <div class="title">
            <div class="d-flex">
                <h1 class="d-block">Комплекс процедур для коррекции фигуры</h1>
              <span class="badge bg-warning align-self-start mx-2">NEW</span>
            </div>
            <div class="subtitle">
                <h2 class="h6">Щёлковская, г. Москва, Сиреневый бул., д. 21а</h2>
            </div>
        </div>
        <div class="container p-0">
            <div class="row">
                <div class="col1 col-8">
                    <img src="https://i.ytimg.com/vi/WRmM-gIBbZY/maxresdefault.jpg" class="img-fluid" alt="Responsive image">
                    <ul class="nav nav-tabs mt-4" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                          <button class="nav-link active text-body" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Условия</button>
                        </li>
                        <li class="nav-item" role="presentation">
                          <button class="nav-link text-body" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Описания</button>
                        </li>
                        <li class="nav-item" role="presentation">
                          <button class="nav-link text-body" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Адреса</button>
                        </li>
                      </ul>
                      <div class="tab-content mt-2" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus reiciendis iusto inventore, velit officiis sunt praesentium optio amet incidunt quisquam doloribus ipsa nesciunt perferendis distinctio fuga. Dolores quisquam ut temporibus.</div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi earum, adipisci, facilis aspernatur harum hic tempore culpa quod aliquam explicabo molestias cumque molestiae corporis voluptate minima quae veniam expedita. A.</div>
                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque hic odio nobis id numquam tempore vel mollitia, recusandae optio voluptates quas fuga consequuntur maiores et dolorum animi quo maxime pariatur.
                        Quaerat quisquam veritatis consequuntur, quas ipsa impedit libero quae. Qui blanditiis aliquam earum, natus quos beatae. Incidunt velit libero accusamus at numquam, cupiditate id deleniti? Neque maiores voluptate praesentium eius.</div>
                      </div>
                </div>
                <div class="col2 col-4">
                    <div class="">
                        <div class="d-flex flex-row align-items-center mb-1">
                          <h4 class="mb-1 me-1">14 999₽</h4>
                          <span class="text-danger"><s>17 999₽</s></span>
                        </div>
                        <h6 class="text-success">Экономия 2 999₽</h6>
                        <div class="d-flex flex-column mt-4">
                          <button class="btn btn-outline-dark btn-sm mt-2" type="button">
                                В корзину
                          </button>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="div seotext my-4">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id sapiente exercitationem inventore dolor eos magnam, possimus doloremque ab similique illo. Iure minima expedita eum temporibus enim iste dignissimos sint exercitationem!
                </div>
            </div>
        </div>
    </main>
    <footer class="container page-footer font-small bg-dark rounded text-white mb-3 mt-auto">
        <div class="">
            <ul class="list-unstyled list-inline text-center py-2">
                <li class="list-inline-item">
                    <h5 class="mb-1">Stallion</h5>
                </li>
            </ul>
        </div>
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="/">Stallion.ru</a>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
</body>

</html>